:root {
  --accentColor: rgb(252, 135, 213);
}
#display-screen {
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Supermercado One", cursive;
  font-family: "Lobster", cursive;
  width: 100%;
  min-height: 300px;
  padding: 30px 60px;
  border: solid 3px #000;
  background-color: rgb(12, 5, 32);
  border-radius: 10px;
  font-size: 30px;
  box-sizing: border-box;
}

.coloredText {
  color: yellow;
}

.textShadow {
  /* text-shadow: 2px 2px 2px #000; */
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em var(--accentColor),
    0 0 0.5em var(--accentColor), 0 0 0.1em var(--accentColor), 0 10px 3px #000;
}

.textShadowSample {
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em var(--accentColor),
    0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}

form#msg-form {
  margin-top: 60px;
}

#sample-text {
  color: #00c200;
}
