/* font-family: "Josefin Sans", sans-serif;
  font-family: "Supermercado One", cursive;
  font-family: "Lobster", cursive;
  font-family: "Ubuntu Mono", monospace;
  font-family: "Noto Serif", serif; 
  font-family: 'Bebas Neue', cursive;*/

:root {
  /* --textShadowColor: rgb(252, 135, 213); */
}

#container {
  width: 1024px;
  margin: 0 auto;
}

#inner {
  width: 512px;
  margin: 0 auto;
  background-color: aquamarine;
}
#display-screen {
  color: #fff;
  width: 512px;
  height: 256px;
  padding: 30px 60px;
  border: solid 2px rgba(204, 204, 204, 0.7);
  background-color: #fff;
  border-radius: 10px;
  font-size: 30px;
  box-sizing: border-box;
}

.coloredText {
  color: #fff;
}

.textShadow {
  text-shadow: 2px 2px 15px #f059e3;
}

form#msg-form {
  margin-top: 30px;
}

.selectdiv {
  position: relative;
  float: left;
  width: 100%;
}

/* IE11 hide native button  */
select::-ms-expand {
  display: none;
}

.selectdiv:after {
  content: "<>";
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/

  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */

  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */

  display: block;
  width: 100%;
  max-width: 512px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}

textarea#msg {
  resize: none;
  width: 512px;
  height: 256px;
  padding: 30px 60px;
  box-sizing: border-box;
  font-size: 30px;
}

textarea#msg:focus {
  outline: none;
}
